

.dark-primary-color    { background: #1976D2; }
.default-primary-color { background: #2196F3; }
.light-primary-color   { background: #BBDEFB; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #4CAF50; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }


.images .bg-dark,
.images .nav-pills .nav-link.active,
.images .badge-info,
.images .btn-primary {
    background: #1976D2 !important;
}

.images .bg-dark .text-muted {
    color: #cccccc !important;
}


main {
    padding-top: 1em;
}




:root {
    --jumbotron-padding-y: 4rem;
}

.jumbotron {
    padding-top: var(--jumbotron-padding-y);
    padding-bottom: var(--jumbotron-padding-y);
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: calc(var(--jumbotron-padding-y) * 2);
        padding-bottom: calc(var(--jumbotron-padding-y) * 2);
    }
}

.jumbotron p:last-child {
    margin-bottom: 0;
}

.jumbotron-heading {
    font-weight: 300;
}

.jumbotron .container {
    max-width: 40rem;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    margin-bottom: .25rem;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);}

.image-logout {
    padding-top: 1em;
}

.images-album {
    padding-top: 1em;
    width: 100%;
}


.images-category-tags {
    justify-content: flex-start;
    margin-bottom: 1em;
}
.images-category-tags .badge {
    margin-right: 0.5em;
}

.images-photo-card {
    cursor: pointer;
}


.btn-tag {
    margin-bottom: 0.3em;
    margin-right: 0.3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: .2rem .3rem;
}

.images-unaproved {
    background: repeating-linear-gradient(
        45deg,
        #BBDEFB,
        #BBDEFB 10px,
        #dddddd 10px,
        #dddddd 20px
    );
}


.dropzone {
    border: 1px dashed #1976D2;
}

.dropzone .dz-message {
    text-align: center;
    margin: 2em 0;
    color: #757575;
}

.dropzone.dz-drag-hover {
    background: #eeeeee;
    border: 1px dashed #4CAF50;
}
.td-first {
    width:33%;
    min-width:100px;
    max-width:250px;
}
