<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/css/imageserver.css" th:href="@{/static/css/imageserver.css}" />
</head>
<body class="images">
<h1>Något gick fel.</h1>
<p th:text="'Error: ' + ${errorMessage}">Error java.lang.NullPointerException</p>
<a href="index.html" th:href="@{/}">Tillbaka</a>
</body>
</html>
