<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!--/*@thymesVar id="pageTitle" type="java.lang.String"*/-->
<!--/*@thymesVar id="pagename" type="java.lang.String"*/-->
<!--/*@thymesVar id="category" type="se.opkoko.ImageServer.domain.PhotoCategory"*/-->
<!--/*@thymesVar id="categories" type="java.util.List<se.opkoko.ImageServer.domain.PhotoCategory>"*/-->
<!--/*@thymesVar id="tags" type="java.util.List<se.opkoko.ImageServer.domain.PhotoTag>"*/-->
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Images from opkoko conferences"/>
    <meta name="author" content=""/>

    <title th:text="${pageTitle}?: 'opkoko bilder'">opkoko bilder</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

    <!-- Custom styles for this template -->
    <link href="/static/css/imageserver.css" rel="stylesheet"/>

    <!-- favicon -->
    <link href="/static/img/favicon.ico" rel="icon" />

    <script defer="defer" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
</head>


<body class="images">

<header th:fragment="header">
    <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Om</h4>
                    <p class="text-muted">Denna site är en del av en CtF skapad för Omegapoint AB Kompetenskonferens, kallad opkoko, i Opatija Kroatien den 10:e - 13:e maj 2018.</p>
                    <p class="text-muted">Här visas bilder från tidigare opkoko enbart som information och för att det är kul.</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Kontakt</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://ctf.opkoko.se/" class="text-white">opkoko CtF</a></li>
                        <li><a href="https://omegapoint.se/" class="text-white">Omegapoints hemsida</a></li>
                        <li><a href="http://opkoko.omegapoint.se/" class="text-white">opkoko schema</a></li>
                        <li sec:authorize="isAuthenticated()"><a href="/user_info" class="text-white">Kreditkortsinformation</a></li>
                        <li><a href="/honeypot" rel="nofollow" aria-hidden="true" style="display: none">Honeypot (Don't go here)</a></li>
                        <li sec:authorize="isAuthenticated()" class="image-logout"><a class="text-white" href="/login?logout"><strong>Logga ut</strong></a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/" class="navbar-brand d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
                <strong>opkoko bilder</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Bilder från opkoko</h1>
            <p class="lead text-muted">Vi har skapat en site med de bästa bilderna eller minnena från tidigare Kompetenskonferenser.</p>
        </div>
    </section>

    <div class="album py-5 bg-light">

        <div class="container">
            <div class="row">
                <div class="col-md-3 images-categories" th:fragment="categories">

                    <!-- For small screens -->
                    <div class="d-block d-md-none">
                        <button class="btn btn-primary"
                                type="button"
                                data-toggle="collapse"
                                data-target="#collapseExample"
                                aria-expanded="false"
                                aria-controls="collapseExample"
                                >
                            <span th:text="'Kategori: ' + ${category?.name?:'alla bilder'}">Kategori: alla bilder</span>
                            <i class="fa fa-angle-down ml-2"></i>
                        </button>
                        <a href="/photos/new" class="btn btn-secondary float-right"><i class="fa fa-upload" ></i></a>

                        <div class="collapse" id="collapseExample">
                            <div class="nav flex-column nav-pills mt-1">
                                <a class="nav-link"
                                   href="/search"
                                   th:classappend="${pagename == 'allphotos'} ? active : ''">Alla kategorier</a>
                                <a class="nav-link"
                                   href="/search/myPhotos"
                                   th:classappend="${pagename == 'myphotos'} ? active : ''">Mina bilder</a>
                                <th:block th:each="photoCategory : ${categories}">
                                    <a class="nav-link"
                                       href="#"
                                       th:classappend="${category?.id == photoCategory.id} ? active : ''"
                                       th:text="${photoCategory.name}"
                                       th:href="'/search?category=' + ${photoCategory.slug}">Kategori</a>
                                </th:block>
                            </div>
                        </div>
                    </div>

                    <!-- For larger screens -->
                    <div class="collapse d-none d-md-block">
                        <h2 class="h4">Kategorier</h2>
                        <div class="nav flex-column nav-pills">
                            <a class="nav-link"
                               href="/search"
                               th:classappend="${pagename == 'allphotos'} ? active : ''">Alla kategorier</a>
                            <a class="nav-link"
                               href="/search/myPhotos"
                               th:classappend="${pagename == 'myphotos'} ? active : ''">Mina bilder</a>
                            <th:block th:each="photoCategory : ${categories}">
                                <a class="nav-link"
                                   href="#"
                                   th:classappend="${category?.id == photoCategory.id} ? active : ''"
                                   th:text="${photoCategory.name}"
                                   th:href="'/search?category=' + ${photoCategory.slug}">Kategori</a>
                            </th:block>
                        </div>

                        <a href="/photos/new" class="btn btn-large mt-3"><i class="fa fa-upload"></i> Ladda upp bild</a>
                    </div>



                </div>
                <div class="col-md-9">
                    <div class="row">
                        <div class="col images-category-tags mt-4 mt-md-0" th:fragment="tags">
                            <th:block th:each="tag : ${tags}">
                                <a th:href="'/search?tag='+${tag.slug}" th:class="(${#httpServletRequest.queryString != null}) ? (${#httpServletRequest.queryString.contains(tag.slug)} ? 'badge badge-info' : 'badge badge-secondary') : 'badge badge-secondary'" th:text="${tag.name}">tag</a>
                            </th:block>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

</main>

<footer class="text-muted" th:fragment="footer">
    <div class="container">
        <p class="float-left">&copy; Omegapoint AB 2018</p>
    </div>
</footer>
<div th:fragment="scripts" th:remove="tag">
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"></script>
<script src="/static/js/imageserver.js"></script>
</div>
</body>
</html>
