<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="framework :: head">
</head>

<body class="images">

<header th:replace="framework :: header">
</header>

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <div class="container" sec:authorize="!isAuthenticated()">
                <h1 class="jumbotron-heading">Bilder från opkoko</h1>
                <p class="lead text-muted">Vi har skapat en site med de bästa bilderna eller minnena från tidigare Kompetenskonferenser.</p>
                <p>
                    <a href="/login" class="btn btn-primary my-2" >Logga in</a>
                </p>
            </div>
            <div class="container" sec:authorize="isAuthenticated()">
                <!--h1 class="jumbotron-heading" th:text ="'Hej '+${#authentication.getPrincipal().getUsername()}">Hej</h1-->
                <h1 class="jumbotron-heading">Välkommen</h1>
                <p class="lead text-muted">Här tar du del av bilder från tidigare opkoko samt din personliga information.</p>
                <p>
                    <a href="/search" class="btn btn-primary my-2">Visa bilderna</a>
                    <a href="/user_info" class="btn btn-primary my-2">Kreditkortsinformation</a>
                </p>
            </div>
        </div>
    </section>

</main>

<footer class="text-muted" th:replace="framework :: footer"></footer>

<div th:replace="framework :: scripts" th:remove="tag"></div>
</body>
</html>
