<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Bilder</title>
</head>
<body class="images">

<!--/*@thymesVar id="photo" type="se.opkoko.ImageServer.viewmodel.PhotoViewModel"*/-->
<div class="col-md-4" th:fragment="photo">
    <div class="card mb-4 box-shadow" th:classappend="${photo.approved} ? '' : 'images-unaproved'">
        <a th:href="${photo.detailsUrl}">
            <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Card image cap" th:alt="${photo.title}" th:src="${photo.thumbnailUrl}"/>
        </a>
        <div class="card-body">
            <div class="small mb-2" th:if="${!photo.approved}">Ännu ej godkänd för publicering</div>
            <p class="card-text" th:text="${photo.title}">The name of the photo</p>
            <div class="d-flex justify-content-between align-items-center">
                <div sec:authorize="!hasRole('ROLE_ADMIN')">
                    <a th:href="${photo.detailsUrl}" class="btn btn-sm btn-outline-secondary">Visa</a>
                </div>
                <div sec:authorize="hasRole('ROLE_ADMIN')">
                    <a th:href="${photo.detailsUrl}" class="btn btn-sm btn-outline-secondary">Ändra</a>
                </div>
                <small class="text-muted" th:text="${photo.photoDateString}">9 mins</small>
            </div>
            <div class="mt-2" th:if="${not #lists.isEmpty(photo.tags)}">
                <th:block th:each="tag : ${photo.tags}">
                    <a th:href="'/search?tag='+${tag.slug}" th:class="(${#httpServletRequest.queryString != null}) ? (${#httpServletRequest.queryString.contains(tag.slug)} ? 'badge badge-info' : 'badge badge-secondary') : 'badge badge-secondary'" th:text="${tag.name}">tag</a>
                </th:block>
            </div>
        </div>
    </div>
</div>

</body>
</html>
