<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="framework :: head">
</head>

<body class="images">

<header th:replace="framework :: header">
</header>

<main role="main">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="'Bilder från ' + ${category != null ? category.name : 'opkoko'}">Bilssssssder</h1>
            </div>
        </div>
    </div>



    <div class="container">

        <div class="row">
            <div class="col-md-3 images-categories" th:replace="framework :: categories">Categories</div>
            <div class="col-md-9">

                <div class="row">
                    <div class="col images-category-tags" th:replace="framework :: tags">tags</div>
                </div>

                <div class="row">
                    <div class="images-album bg-light">
                        <div class="container">
                            <div class="row">
                                <th:block th:each="photo : ${photos}">
                                    <div class="col-md-4" th:replace="photo_snippets :: photo"></div>
                                </th:block>
                            </div>
                        </div>
                        <div class="container" th:if="${photos.size()} > 3">
                            <p class="float-right">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Till toppen</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>

<footer class="text-muted" th:replace="framework :: footer"></footer>

<div th:replace="framework :: scripts" th:remove="tag"></div>
</body>
</html>
