<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="framework :: head">
</head>

<body class="images">

<header th:replace="framework :: header">
</header>

<!--/*@thymesVar id="photo" type="se.opkoko.ImageServer.viewmodel.PhotoViewModel"*/-->
<!--/*@thymesVar id="category" type="se.opkoko.ImageServer.domain.PhotoCategory"*/-->
<main role="main">

    <div class="container">
        <div class="row">
            <div class="col">
                <h1 th:text="'Foto ' + ${#strings.toLowerCase(photo.title)}">Foto</h1>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-3 images-categories" th:replace="framework :: categories">Categories</div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-lg-7 col-md-12 mt-4 mt-md-0">
                        <img src="" alt="" class="img-fluid" th:src="${photo.largeUrl}" th:alt="${photo.title}" />
                    </div>
                    <div class="col-lg-5 col-md-12 mt-3 mt-md-0">
                        <table class="responsive-table" width="100%">
                            <tr th:each="instance : ${photo.exifInformation}">
                                <th:block sec:authorize="!hasRole('ROLE_ADMIN')">
                                    <td class="font-weight-bold td-first" th:text="${instance.key}"></td>
                                    <td th:text="${instance.value}"> </td>
                                </th:block>
                                <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                    <td class="font-weight-bold td-first">
                                        <label for="photo-meta-text" th:for="${'photo-meta-' + instance.key.toLowerCase()}" th:text="${instance.key}">keyvalue</label>
                                    </td>
                                    <td>
                                        <input type="text" id="photo-meta-text" name="${instance.key}" th:placeholder="${instance.value}" />
                                    </td>
                                </th:block>
                            </tr>
                            <tr>
                                <td class="font-weight-bold td-first">Taggar</td>
                                <td>
                                    <div sec:authorize="!hasRole('ROLE_ADMIN')">
                                        <div th:if="${not #lists.isEmpty(photo.tags)}">
                                            <th:block th:each="tag : ${photo.tags}">
                                                <a href="#" class="badge badge-info" th:text="${tag.name}">tag</a>
                                            </th:block>
                                        </div>
                                    </div>
                                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                                        <div th:if="${not #lists.isEmpty(photo.tags)}">
                                            <form method="post" th:action="${photo.detailsUrl + '/tag'}">
                                                <input type="hidden" name="delete" value="yes" />
                                                <th:block th:each="tag : ${photo.tags}">
                                                    <button type="submit" th:value="${tag.slug}" name="tag" class="btn btn-tag btn-info" th:text="${tag.name}"></button>
                                                </th:block>
                                            </form>
                                        </div>

                                    </div>
                                </td>
                            </tr>
                        </table>
                        <!-- TODO: Fix change exif data when we have time -->
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <a id="editForm" href="#" class="btn btn-sm btn-outline-secondary">Ändra</a>
                        </div>

                        <div class="images-add-tag" sec:authorize="hasRole('ROLE_ADMIN')">
                        <hr />
                        <h3>Fler taggar</h3>
                        <form method="post" th:action="${photo.detailsUrl + '/tag'}">
                            <div class="d-flex flex-wrap">
                            <th:block th:each="tag : ${unusedTags}">
                                <div >
                                    <button type="submit" th:value="${tag.slug}" name="tag" class="btn btn-tag btn-secondary" th:text="${tag.name}"></button>
                                </div>
                            </th:block>
                            </div>
                        </form>
                        </div>
                        <div sec:authorize="hasRole('ROLE_ADMIN')">
                            <a th:attr="data-photoid=${photo.uuid}" href="#" id="autotagger" class="btn btn-outline-secondary mt-3">Auto tagga</a>
                            <div class="autotagger-result"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</main>

<footer class="text-muted" th:replace="framework :: footer"></footer>

<div th:replace="framework :: scripts" th:remove="tag"></div>
</body>
</html>
