<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="framework :: head">
</head>

<body class="images">

<header th:replace="framework :: header">
</header>

<main role="main">

    <div class="container text-left" sec:authorize="isAuthenticated()">
        <h1 class="jumbotron-heading" th:text ="'Kreditkortsinformation för '+${userinfo.firstName}+' '+${userinfo.lastName}">Namn</h1>
        <div th:if="${creditcard != null} ">
            <dl class="dl-horizontal">
                <dt>Korttyp</dt>
                <dd th:text="${creditcard.type}">korttyp</dd>
                <dt>Kortnummer</dt>
                <dd th:text="${creditcard.getDisplayNumber()}">kortnummer</dd>
                <dt>Namn</dt>
                <dd th:text="${creditcard.cardHolder}">namn</dd>
                <dt>Giltigt</dt>
                <dd th:text="${creditcard.exp}">expire</dd>
                <dt>CVV</dt>
                <dd th:text="${creditcard.cvv}">cvv</dd>
            </dl>
        </div>
        <div th:unless="${creditcard}">
            <div>Det finns inget kreditkort</div>
        </div>
        <p>
            <a href="/search" class="btn btn-primary my-2">Visa bilderna</a>
        </p>
    </div>


</main>

<footer class="text-muted" th:replace="framework :: footer"></footer>

<div th:replace="framework :: scripts" th:remove="tag"></div>
</body>
</html>
